tensorflow>=2.11,<3
tensorflow-hub>=0.12
tensorflow-datasets>=4.8
keras>=2.11
numpy>=1.23

opencv-python>=4.7
Pillow>=9.4
scikit-image>=0.20

pandas>=1.5
matplotlib>=3.6
seaborn>=0.12
scikit-learn>=1.2

streamlit>=1.18

tqdm>=4.64
